@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&display=swap&subset=latin-ext");

* {
  box-sizing: border-box;
}

html {
  font-family: "PT Sans Narrow", sans-serif;
}

body {
  color: #666;
}
